*{
    margin:0;
    padding:0;
}
body{
    background-color:azure;
}
.head{
    display:flex;
    justify-content: space-evenly;
    background-color: blue;
    height:80px;
}
.head li{
    list-style:none;
    margin-top:15px;
    color: azure;
    margin-top: 25px;
}
li a{
    color:white;
    text-decoration:none;
}
li a:hover{
    color:black;
}
h1 span{
    color:white;
}
.head h1{
    margin-top: 5px;
    margin-top: 10px;
}
.head input[type="Recherch"]{
    margin-top:10px;
    border-radius: 15px;
    padding: 10px;
}
.menu{
    display:flex;
    justify-content: space-evenly;
}
.menu li{
    list-style: none;
    line-height: 50px;
}
.menu li a{
    color:black;
}
.menu li a:hover{
    color:blue;
    text-decoration: underline;
}
.menu{
    background-color: antiquewhite;
}
.center{
    display:flex;
    line-height:30px;
    margin-top: 10px;
    justify-content: space-between;
}
.center img{
    border-radius: 15px;
    width: 400px;
    height: 400px;
}
.titr{
    margin-top:5px;
}
.paragraph{
    display: block;
}
.bottom{
    background-color: gray;
    display:flex;
    justify-content: space-around;
}
